{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="{% static 'js/main-2.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/main_6.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_1.css'%}">
    {% block title%}
        <title>FinTracker</title>
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <ul class="header-navigation__list navigation__list">
            <img class="Logo" src="/static/image/Logo.png" alt="FinTracker Logo">
            <h1 class="h1">FinTracker</h1>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="/main">Головна Панель</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Рахунки</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Записи</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Аналітика</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Інвестиції</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Імпорти</a>
            </li>
            <div class="register_button">
                <a href="/register">Зареєструватися</a>
            </div>
        </ul>
    </div>
    {% block content %}
    <div class="cash-box">
        <img src="/static/image/cash.png" color="white" alt="Coins" class="icon">
        <div>
            <div>Готівка</div>
            <div>5 000,00 грн</div>
        </div>
    </div>
    <div class="calendar">
        <div class="header" id="header">
            <button id="prevBtn">
                <i class="fa fa-chevron-left"></i>
            </button>
            <div class="monthYear" id="monthYear"></div>
            <button id="nextBtn">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
            <div class="days" id="days">
                <div class="day">Пн</div>
                <div class="day">Вт</div>
                <div class="day">Ср</div>
                <div class="day">Чт</div>
                <div class="day">Пт</div>
                <div class="day">Сб</div>
                <div class="day">Нд</div>
            </div>
            <div class="dates" id="dates"></div>
    </div>
    {% endblock %}
    
</body>
</html>