{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script async defer src="{% static 'js/main2.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/main1.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_1.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/count1.css'%}">
    {% block title%}
        <title>FinTracker</title>
    {% endblock %}
</head>
<body id="body">
    <div class="navbar">
        <ul class="header-navigation__list navigation__list">
            <img class="Logo" src="/static/image/Logo.png" alt="FinTracker Logo">
            <h1 class="h1">FinTracker</h1>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="/main">Головна Панель</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="/count">Рахунки</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Записи</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Аналітика</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Інвестиції</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Імпорти</a>
            </li>
            <div class="register_button">
                <a href="/register">Зареєструватися</a>
            </div>
        </ul>
    </div>
    {% block content %}
    <div class="cash-box-div">
        <div class="cash-box">
            <img src="/static/image/cash.png" color="white" alt="Coins" class="icon">
            <div>
                <div class="font">Готівка</div>
                <div class="font">5 000,00 грн</div>
            </div>
        </div>
        <div class="score-add">
            <button class="button1" type="button">
                <div>
                    ＋&nbsp;
                    Додати рахунок
                </div>
            </button>
        </div>
    </div>
    <div class="calendar">
        <div class="header" id="header">
            <button id="prevBtn" class="prevBtn">
                <i class="fa fa-chevron-left"></i>
            </button>
            <div class="monthYear" id="monthYear"></div>
            <button id="nextBtn">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
            <div class="days" id="days">
                <div class="day">Пн</div>
                <div class="day">Вт</div>
                <div class="day">Ср</div>
                <div class="day">Чт</div>
                <div class="day">Пт</div>
                <div class="day">Сб</div>
                <div class="day">Нд</div>
            </div>
            <div class="dates" id="dates"></div>
    </div>
    <div id="popup" class="popup non-visible">
        <div id="ui" class="ui large modal transition non-visible">
        <div class="header_conatiner">
            Додати рахунок
            <span id="close_button"><img src="/static/image/close-icon.png" class="close_button" alt="Close button from window"></span>
        </div>
        <div class="content_conatiner">
            <div class="main_modal_choose">
                <div class="main_modal_separator">
                    <div class="bank_synchronization-card">
                        <div class="bank_synchronization-card_image"></div>
                        <h3 class="h3_modal">Синхронізація банку</h3>
                        <p>Підключайте свої банківські рахунки і автоматично синхронізовуйте транзакції.</p>
                    </div>
                    <div class="import-card">
                        <div class="import-card_image"></div>
                        <h3 class="h3_modal">Імпорт</h3>
                        <p>Завантажуйте свою історію транзакцій, імпортуючи CSV, Excel, OFX та інші файли.</p>
                    </div>
                    <div class="manual_imput-card">
                        <div class="manual_imput-card_image"></div>
                        <h3 class="h3_modal">Ручний ввід</h3>
                        <p>Оновлюйте свій рахунок вручну. Ви можете підключити свій банк або імпортувати дані пізніше. </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="ui" class="ui small modal transition ">
        <div class="header_conatiner">
            Додати рахунок
            <span id="close_button"><img src="/static/image/close-icon.png" class="close_button" alt="Close button from window"></span>
        </div>
        <div class="content_conatiner">
            <div class="add-acount-form">
                <div class="content-panel">
                    <form class="ui error form ">
                        <div class="field">
                            <div class="fields">
                                <div class="eleven wide field">
                                    <label>Ім'я</label>
                                    <div class="ui input ">
                                        <input aria-invalid="true" name="name" placeholder="Назва рахунку" maxlength="50" type="text" value="">
                                    </div>
                                </div>

                                <div class="five wide field small-select">
                                    <label>Колір</label>
                                    <div class="ui selection dropdown">
                                        <div class="color-inner" style="background: rgb(46, 125, 50);"></div>
                                        DROP ICON
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="fields"></div>
                        </div>
                        <div class="field">
                            <div class="fields"></div>
                        </div>
                        <div class="connect"></div>
                        <div class="field submit"></div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
    
</body>
</html>