{% extends 'base.html' %}
{%load static%}

{% block title %}
<title>Рахунки</title>
{% endblock %}

{%block content %}
<div class="all-page">
    <div class="all-page_wrapper">
        <main>
            <div class="body-counter">
                <div class="retreat"></div>
                <div class="body-content">
                    <div class="add-count">
                        <h1 class="h1_count">Рахунки</h1>
                        <div class="plus_button">
                            <button type="button" class="ui circular fluid primary button">＋&nbsp;Додати</button>
                        </div>
                        <div class>
                            <div class="search"></div>
                            <div class="sort"></div>
                        </div>
                    </div>
                    <div class="see-cont">
                        <div class="count-body">
                            <div class="count-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}