{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/main_2.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_1.css'%}">
    {% block title%}
        <title>FinTracker</title>
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <ul class="header-navigation__list navigation__list">
            <img class="Logo" src="/static/image/Logo.png" alt="FinTracker Logo">
            <h1 class="h1">FinTracker</h1>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="/main">Головна Панель</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Рахунки</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Записи</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Аналітика</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Інвестиції</a>
            </li>
            <li class="header-navigation__item navigation__item">
                <a class="header-navigation__link navigation__link" href="#">Імпорти</a>
            </li>
            <div class="register_button">
                Зареєструватися
            </div>
        </ul>
    </div>
    {% block content %}
    <div class="cash-box">
        <img src="/static/image/cash.png" color="white" alt="Coins" class="icon">
        <div>
            <div>Готівка</div>
            <div>5 000,00 грн</div>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>