* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }

  :root{
    --white: #fff;
  }

  html{
    scroll-behavior: smooth;
  }
  
  html,
  body {
    height: 100%;
    min-width: 320px;
  }
  
  body {
    line-height: 1;
    font-size: 1rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color .4s, color .4s;
  }
  
  input,
  button,
  textarea {
    font-size: inherit;
  }
  a {
    text-decoration: none;
  }
  
  a:link,a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }
ul,ol,li {
    list-style: none;
  }
img {
    vertical-align: top;
  }
  
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    line-height: 1;
  }
.Logo{
  height: 80px;
  width: 80px;
  margin-right: .5rem;
}

.h1{
  margin-right: 30px;
  color: #000000;
}
/*NAVIGATION*/
.navbar{
    background-color: #ebe8e8;
    border: 1px solid #000000;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation__list {
    display: flex;
    margin-right: 110px;
    align-items: center;
  }
  
  .header__pictures{
    cursor: pointer;
  }
  
  /*not(:last-child) = останній елемент не включається в задані параметри*/
  
  .navigation__item:not(:last-child){
    margin-right: 50px;
  }
  
  .navigation__link{
    position: relative;
    font-size: 16px;
    color: black;
    font-weight: 400;
    transition: color 0.3s ease-in-out;
  }
  
  .navigation__link::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -50%;
    left: 10%;
  }
  .navigation__link:hover:before{
    opacity: 1;
  }
  
  .navigation__link:hover{
    color: #ac8181;
  }
  
  .register_button{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: color 0.3s ease-in-out;
  }
  
  .register_button:hover{
    color: #ac8181;
  }
/*ГОЛОВНА ПАНЕЛЬ*/
.cash-box {
  display: flex;
  align-items: center;
  background-color: #0066cc;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}